.button {
  border-radius: var(--app-button-border-radius);
  border-color: var(--app-button-border-color);
  background-color: var(--app-button-background);
  &.is-primary {
    background-color: rgb(0, 209, 178);
    &:hover {
      background-color: rgb(248, 0, 0);
    }
  }
  &.is-link {
    // background-color: rgb(235, 255, 252);
    &:hover {
      background-color: rgb(248, 0, 0);
    }
  }
  &.is-info {
    // background-color: rgb(235, 255, 252);
    &:hover {
      background-color: rgb(248, 0, 0);
    }
  }

  &.is-success {
    // background-color: rgb(235, 255, 252);
    &:hover {
      background-color: rgb(248, 0, 0);
    }
  }
  &.is-warning {
    // background-color: rgb(235, 255, 252);
    &:hover {
      background-color: rgb(248, 0, 0);
    }
  }
  &.is-danger {
    // background-color: rgb(235, 255, 252);
    &:hover {
      background-color: rgb(248, 0, 0);
    }
  }
}
