@use "bulma/sass/base";
@use "bulma/sass/themes";
@use "bulma/sass/grid";
@use "bulma/sass/components/modal.scss";

.tooltip {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: #222;
}
