:root[data-theme="oneDark"] {
  --font-color: green;
  --app-header-height: 40px;
  --app-pane-background-1: #414246;
  --app-pane-background-2: #37383c;
  --app-pane-padding-size: 0 8px;
  --app-splitter-gutter-color-v: #37383c;
  --app-splitter-gutter-color-h: #414246;
  --app-splitter-gutter-hover: #006dff;
  --app-setting-pane-height: 60vh;
  --app-setting-pane-width: 60vw;
  --app-file-tree-hover: rgb(255, 255, 255, 10%);
  --app-file-tree-selected: rgb(255, 255, 255, 20%);
  --app-model-background-background-color: hsla(221, 14%, 4%, 0.86);
  --app-tooltip-color: white;
  --app-tooltip-background: #1f1f1fe5;
}
