:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

@ob-background: #3d3e42;
@ob-font-color: white;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  color: @ob-font-color;
  user-select: none;
  #app {
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    color: @ob-font-color;
    .p-splitter {
      color: @ob-font-color;
      // background-color: @ob-background;
      .p-splitter-gutter {
        width: 2px;
        &:hover {
          background-color: #006dff;
        }
      }
    }
    overflow: hidden;
  }
}

.electron-drag {
  -webkit-app-region: drag;
}
